/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #d4df9e;
    font-family: "poppins", "sans-serif";
}

h1,
h2,
h3 {
    font-family: "poppins", "sans-serif";
    text-transform: uppercase;
    color: #d4df9e;
}

/* Header */

header {
    background-color: #4E3D42;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4E3D42;
    display: block;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    text-align: center;
}

header a {
    text-decoration: none;
    color: #d4df9e;
    font-size: 130%;
}

ul {
    font-size: 110%;
    letter-spacing: 5px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #4E3D42;
}

/* navbar styles */

nav {
    position: absolute;
    background-color: #4E3D42;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #4E3D42;
    top: 100%;
    display: none;
}

/* Nav toggle styles */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgb(167, 134, 130, 0.75);
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 150px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #F1F2E3;
}

/* Charity Hero section */

#charity-hero {
    height: 600px;
    width: 100%;
    background: url("../images/ask-for-jake.webp") no-repeat center center/cover;
    position: relative;
}


/* About section */

#about {
    background-color: #617557;
    width: 100%;
    color: #F1F2E3;
}

#about h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #F1F2E3;
}

#about h3 {
    text-align: center;
    color: #F1F2E3;
    padding-top: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#who, #why {
    line-height: 20px;
    margin-bottom: 10px;
}

#who{
    background-color: rgb(78,61,66, 0.6);
}

#why{
    background-color: rgb(167, 134, 130, 0.6);
}

#about p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    border-color: #F1F2E3;
}

/* About image */

#about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-cover-image{
    background: url(../images/summit-to-share-background.webp) no-repeat top center/cover;
    position: relative;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Charity section */

#chairty-hero{
    background-color: #617557;
}

#charity{
    background-color: #617557;
    color: #F1F2E3;
    width: 100%;
}

#charity h2, #charity h3{
    color: #F1F2E3;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#charity h2{
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

#charity h3{
    text-transform: capitalize;
}

#charity p{
    margin-left: 10px;
    margin-right: 10px;
}

#info{
    background-color: rgb(78,61,66,0.6);
}

#location{
    background-color: rgb(167,134,130,0.6);
}

#our-choice{
    background-color: rgb(212,223,158,0.6);
}

#website{
    padding: 5px 5px 10px 5px;
}

#website a{
    color: #F1F2E3;
    text-decoration: none;
    font-size: 90%;
}


/* Footer content */

footer{
    background-color: #4E3D42;
}

#links{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#links i{
    font-size: 170%;
    color: #d4df9e;
    padding: 5%;
}

#copyright{
    display: none;
}

/* media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* header */
    
    header{
        height: 80px;
    }

    header h1 {
        float: left;
        display: inline;
    }

    .nav-toggle-label {
        float: right;
        margin-top: 10px;
    }

    #menu{
       float: right;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* Hero section */

    #cover-text {
        width: 40%;
    }

    /* about section */

    #about h2{
        font-size: 200%;
        padding: 20px;
    }

    #why, #who, #about-image {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-bottom: 30px;
    }

    #about-image{
        width: 100%;
    }

    #why{
        float: right;
        padding-right: 5px;
    }

    #about h3{
        font-size: 150%;
    }

    #about p{
        font-size: 150%;
        line-height: 30px;
    }

    /* About image */

    #circle-cover-image{
        max-width: 400px;
        max-height: 400px;

    }

    /* Charity section */

    #charity h2{
        font-size: 200%;
        padding: 20px;
    }

    #info, #location, #our-choice{
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }

    #location{
        float: right;
    }

    #charity h3{
        font-size: 150%;
    }

    #charity p{
        font-size: 150%;
    }


    /* Footer section */

    #copyright{
        display: contents;
        text-align: left;
    }
}
