/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #d4df9e;
    font-family: "poppins", "sans-serif";
}

h1,
h2,
h3 {
    font-family: "poppins", "sans-serif";
    text-transform: uppercase;
    color: #d4df9e;
}

/* Header */

header {
    background-color: #4E3D42;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4E3D42;
    display: block;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    text-align: center;
}

header a {
    text-decoration: none;
    color: #d4df9e;
    font-size: 130%;
}

ul {
    font-size: 110%;
    letter-spacing: 5px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #4E3D42;
}

/* navbar styles */

nav {
    position: absolute;
    background-color: #4E3D42;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #4E3D42;
    top: 100%;
    display: none;
}

/* Nav toggle styles */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    text-align: left;
}

/* Main content */

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: #a78682;
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 150px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #F1F2E3;
}

/* Charity Hero section */

#charity-hero {
    height: 600px;
    width: 100%;
    background: url("../images/ask-for-jake.webp") no-repeat center center/cover;
    position: relative;
}

#about-charity {
    width: 90%;
    margin: 20px auto;
}

#about-charity h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

#about-charity h3 {
    text-align: center;
}

#info {
    margin-bottom: 20px;
    line-height: 20px;
}

#location {
    margin-bottom: 20px;
    line-height: 20px;
}

#our-choice {
    margin-bottom: 20px;
    line-height: 20px;
}

#about-charity p {
    margin-top: 10px;
}

#website h3 {
    text-decoration: none;
}

/* About section */

#about {
    background-color: #617557;
    width: 100%;
    color: #F1F2E3;
}

#about h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 5px;
    color: #F1F2E3;
}

#about h3 {
    text-align: center;
    color: #F1F2E3;
}

#who {
    margin-bottom: 20px;
    line-height: 20px;

}

#why {
    padding-bottom: 20px;
    line-height: 20px;
}

#why h3{
    padding-top: 20px;
}

#about p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    border-color: #F1F2E3;
}

/* About image */

#about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-cover-image{
    background: url(../images/summit-to-share-background.webp) no-repeat top center/cover;
    position: relative;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* Footer content */

footer {
    background-color: #4E3D42;
}

footer>h2 {
    color: #d4df9e;
    font-size: 120%;
    text-align: center;
}

#instagram {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #d4df9e;
    text-decoration: none;
}

/* media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* header */
    
    header{
        height: 80px;
    }

    header h1 {
        float: left;
        display: inline;
    }

    .nav-toggle-label {
        float: right;
        margin-top: 10px;
    }

    #menu{
       float: right;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* Hero section */

    #cover-text {
        width: 40%;
    }

    /* about section */

    

    #about h2{
        font-size: 200%;
        padding: 20px;
    }

    #why, #who, #goal {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-bottom: 30px;
    }

    #why{
        float: right;
    }

    #about h3{
        font-size: 150%;
    }

    #about p{
        font-size: 150%;
        line-height: 30px;
    }

    #goal{
        margin-bottom: 0;
    }

    /* Footer section */

    footer h2{
        font-size: 150%;
        padding-top: 20px;
    }
}